@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

body, html {
  height: 100%;
  padding: 5px;
  color: white;
  background-color: black;
  background-image: url("background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Homemade Apple', cursive;
  text-align: center;
}
h1 {
  opacity: .7;
}
h1:hover {
  opacity: 1;
}
#box{
  background-color: black;
  display: grid;
  width: 75vh;
  height: 75vh;
  margin: auto;
  margin-top: 25px;
}
@media only screen and (max-width: 600px) {
  #box {
    width: 400px;
    height: 400px;
  }
}
